
.line{
    border:solid 1px black;
    height:100px; 
    background-color:black; 
}

.head{
    font-family: "Iowan Old Style";
    font-size: 44px;
    text-align: center;
    color:white;
}
.search-row{
    height:700px;
}
.search-img{
    height:720px;
    width:100%;
   
}
.heading {
    font-size: 86px;
    bottom:700px;
    margin-left: 132px;
    position: relative;
    color: white;
}
.paragraph{
    bottom:700px;
    color:white;
    font-size:30px;
    margin-left:233px;
    position:relative;
   
}
.main-search{
    bottom:50px;
    position: relative;
}
.search-col{
    border:solid 1px black;
    background-color:rgb(229, 222, 222);
}
.text{
    background-color:white;
    font-family:"Source Serif pro";
    font-size:40px;
    margin-bottom:auto;
}
.humans {
    width: 636px;
    margin-top: -1305px;
    margin-left: 379px;
}
.div-frame-icon{
    border:white;
    height:50px;
    position: relative;
    top: 20px;
    width:50px;
}
.frame-icon{
    height: 50px;
}
.travel{
    height:400px;
    width:102%;
}

.like{
    bottom: 450px;
    position:absolute;
    margin-left: 360px;
}
.k{
    font-size:20px;
    margin-top:30px;
}
.l{
    background-color:green;
    font-size:30px;
    margin-top:8px;
}

.box{
  
  border:solid 1px black;
  bottom:40px;
  background-color:black;
  color:white;
  height:600px;
}
.f{
    height:650px;
    width:100%;
}
.footer-img{
    height: 730px

}
.footer{
   background-color:black;
   display:flex;
  
  
}
.top-img{
    height:778px;
    width:100%;
    
}
.A{
    bottom:700px;
    color:white;
    font-family:"Source Serif pro";
    font-size:28px;
    margin-left:100px;
    position:relative;
    
}
.find{
    Background-color:white;
    color:black;
    width:462px;    
}
.colb{
    border:solid 1px black;
    background-color:black;
    display:flex;
    float:left;
    height:600px;
    margin-left:200px;
    margin-top:60px;
    width:250px;
}
.i{
    color:white;
    font-family:"Source Serif pro";
    font-size:36px;
    
}
.M{
    color:white;
    font-family:"Source Serif pro";
    font-size:31px;
    margin-top:46px;

}
.tittle{
    color:white;
    font-family:"Inkunt Antiqua";
    font-size:40px;
    color:white;
    font-weight: 600;
    letter-spacing: -0.72px;
}  
.like{
    font-size:10px;
}
.col-paragraph{
    font-size:21px;

}
@media(max-width:576px){
    .head{
        font-size:36px;
  
    }
    .heading{
        font-size:37px;
  
    }
    .paragraph{
        
        font-size:16px;
    }






}
